.custom-navbar {
    position: fixed !important;
    top: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
/*
.custom-li-a-color {
    background-color: #000;
    border-radius: 5px;
}

.custom-zeep-color {
    background-color: #000;
    border-radius: 5px;
}
*/

.custom-nav-complit {
    background-color: #000;
    border-radius: 7px;
}