.custom-header-left-links {
    padding: 5px !important;
}

.custom-header-login{
    background-size: cover; 
    background-position: top center;
}

.custom-navbar {
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.fade-in {
    animation: fadein 1s;
}